* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  height: 100%;
}
input[type="text"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #272727;
  color: #efab44;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.list-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-width: min(100vw, 600px);
  min-height: 46px;
}

.list-item-wrapper {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 25px;
  padding: 5px 20px;
}

.list-item-wrapper:nth-child(odd) {
  background: #272727;
}

.list-wrapper {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.room-actions .material-icons,
.user-actions .material-icons {
  margin: 0 5px;
}

.user-details,
.room-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.user-name,
.user-status,
.user-room,
.room-name,
.room-divider,
.room-size {
  margin: 0 5px;
}

@media only screen and (min-width: 600px) {
  /* .chat-form,
  .page-content {
    max-width: 700px;
    min-width: 600px;
    margin: auto;
  }
  .tab-name-wrapper {
    justify-content: center;
  }
  .tab-name-wrapper .tab-name {
    max-width: 233px;
  } */
}
